<div class="h-screen flex items-start justify-center">
    <div class="flex gap-2 pt-10">
        <form id="registrationForm"
            class="max-w-sm mx-auto flex flex-col gap-2 rounded-lg shadow-lg bg-slate-200/20 p-10"
            [formGroup]="formGroup" (ngSubmit)="registerUser()">

            <div class="flex gap-2">
                <input type="text" id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg shadow-lg block w-full p-2 dark:bg-gray-700"
                    placeholder="Enter Name" required maxlength="100" [formControl]="nameInput" />
                <button type="submit" form="registrationForm"
                    class="text-white bg-green-600 hover:bg-green-700 focus:ring-4 focus:outline-none font-medium rounded-lg shadow-lg text-sm w-full sm:w-auto px-5 py-2 text-center">Join</button>
            </div>

            <div class="text-sm text-red-600" id="validation" *ngIf="validateInputField(nameInput).hasError">
                {{validateInputField(nameInput).message}}
            </div>

        </form>
    </div>
</div>